body {
    background-color: lightsteelblue;
    font-family:'Times New Roman', Times, serif;
}

li {
    color: black;
    font-size: 28px;
    text-decoration: none;
}

a {
    color: slateblue;
    text-decoration: none;
}

a:hover {
    color: darkslateblue;
    text-decoration: underline;
}